<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://bootswatch.com/5/lux/bootstrap.min.css"
    />
    <!-- Bootstrap Icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cl
      oudflare.com/ajax/libs/bootstrap-icons/1.5.0/bootstrap-icons.min.css"
    />

  </head>
  <body>
    <div class="container mt-5">

      <%- include('header')%>     

      <div class="row">
        <div class="col-md-6">
          <h2>Comprar y Alquilar</h2>
          <p>

            Aqui puedes buscar, alquilar y comprar los mejores apartamentos en la ciudad de Madrid, España

          </p>
          <p>

            Con <%= title %> tienes acceso a miles de apartamentos en alquiler y en venta en Madrid
          </p>
        </div>
        <div class="col-md-6">
          <h2>Informacion</h2>
          <p>
            Aqui puedes encontrar informacion sobre Madrid
          </p>
          <p>
            Con <%= title %> tienes acceso a miles de apartamentos en alquiler y en venta en Madrid
          </p>
        </div>
      </div>
    </div>

    <%- include('footer')%>

  </body>
</html>
